
.container
    max-width: 1140px
    margin: 0 auto

.main-section
    height: 878px
    background: #DFDFDF
    padding-top: 23px
    &__nav-container
        display: flex
        flex-direction: row
        justify-content: space-between
        height: 58px
        align-items: center

.main-section__logo
    width: 113px
    height: 58px

.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__item
        margin-right: 64px
        font-size: 18px
        &:last-child
            margin-right: 0px
